.coin-chart-container {
  background: rgba(0, 0, 0, 0.018);
  border-radius: 13px;
  padding: 50px 3px;
  position: relative;
  
}
.chart-graph {
  margin-top: -70px;
}
.chart-controls {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 35px !important;
}

.chart-controls button {
  color: #aaa;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  padding: 12px 36px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  user-select: none;
  -webkit-user-select: none;

  /* Newwwwwwwwww*/
  overflow: hidden;
  isolation: isolate;
  position: relative;
}

.Yaxic{
  font-size: 14px;  
}

.chart-controls button:hover {
  background: rgba(255, 255, 255, 0.10);
  color: white;
  border-color: #2d2f33;
  
}

.chart-controls button.active {
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  color: white;
  border-color: #2d81ff;
}

.chart-wrapper {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-bottom: -60px;
}

@media (max-width: 1599px) and (min-width: 1200px) {
  .chart-controls {
    gap: 6px;
    margin: -33px 0 5px 0;
  }
  .chart-controls button {
    margin-top: 0px;
  }
}

@media (max-width:1200px) {
  .chart-controls {
    gap: 6px;
    margin: -33px 0 5px 0;
  }
  .chart-controls button {
    margin-top: 0px;
    padding: 10px 25px;
  }
}
@media (max-width:1000px) {
  
  .chart-controls {
    gap: 6px;
    margin: -33px 0 5px 0;
  }
  .chart-controls button {
    margin-top: 0px;
    padding: 10px 18px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .chart-graph {
    margin-top: 0;
  }
  .chart-controls {
    gap: 6px;
    margin: -3px 0 5px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: -30px !important;
  }
  .chart-controls button {
    padding: 10px 25px;
    font-size: 13px;
    margin-top: 0px;
  }
  .chart-wrapper {
    height: 250px;
    margin-top: -10px;
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .Yaxis-chart {
    transform: translateX(30px);
  }
  .coin-chart-container {
    background: rgba(0, 0, 0, 0.018);
    border-radius: 13px;
    padding: 30px 3px;
    margin-top:-15px;
  }
  .chart-controls {
    gap: 6px;
    margin: 50px 0 -30px 0 !important;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .chart-controls button {
    padding: 10px 19px;
    font-size: 12px;
    min-width: 95px !important;
  }
  .chart-wrapper {
    height: 230px;
  }
}

@media (max-width: 390px) {
  .Yaxis-chart {
    transform: translateX(25px);
  }
  .coin-chart-container{
    padding-bottom: 40px;
    padding-top: 40px !important;
  }
  .chart-controls {
    gap: 6px;
    margin: -3px 0 5px 0;
  }
  .chart-controls button {
    padding: 10px 17px;
    font-size: 12px;
    min-width: 95px;
  }
  .chart-wrapper {
    height: 230px;
  }
}
@media (max-width: 380px) {
  .coin-chart-container{
    padding-bottom: 40px;
    padding-top: 40px !important;
  }
  .chart-controls {
    gap: 6px;
    margin: -3px 0 5px 0;
  }
  .chart-controls button {
    padding: 10px 6px;
    font-size: 12px;
    min-width: 80px !important;
  }
  .chart-wrapper {
    height: 230px;
  }
}