.coin-chart-container {
  background-color: #141318;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.chart-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.chart-controls button {
  background-color: #0e0d12;
  color: #aaa;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px 16px;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.Yaxic{
  font-size: 14px;  
}

.chart-controls button:hover {
  background-color: #1a191f;
  color: #fff;
}

.chart-controls button.active {
  background-color: #2d81ff;
  color: white;
  border-color: #2d81ff;
}

.chart-wrapper {
  width: 100%;
  height: 300px;
}

@media (max-width: 768px) {
  .coin-chart-container{
    padding: 10px;
  }

  .chart-controls {
    gap: 8px;
  }
  .chart-controls button {
    padding: 6px 12px;
    font-size: 13px;
  }
  .chart-wrapper {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .coin-chart-container{
    padding: 10px;
    padding-bottom: 40px;
  }
  .chart-controls {
    gap: 6px;
    margin: -3px 0 3px 0;
  }
  .chart-controls button {
    padding: 5px 15px;
    font-size: 12px;
  }
  .chart-wrapper {
    height: 230px;
  }
}