
.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  place-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 72vh;
  margin-top: 58px;
}


/*РЫНОК --------------------------------------------------------------*/

.block {
  width: 550px;
  height: 355px;
  cursor: pointer;
  border-radius: 13px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
  animation: fadeIns 0.2s ease-in-out;
}
.block:nth-child(2) {
  animation: fadeIns 0.35s ease-in-out;
}
.block:nth-child(3) {
  animation: fadeIns 0.45s ease-in-out;
  background: rgba(255, 255, 255, 0.01);
}
.block:nth-child(4) {
  animation: fadeIns 0.6s ease-in-out;
  background: rgba(255, 255, 255, 0.01);
}

@keyframes fadeIn {
  0%{opacity: 0;}  
  100%{opacity: 1;}  
}

.block:hover{
  background: rgba(255, 255, 255, 0.051);
  backdrop-filter: blur(10px);
}

.block-title {
  display: grid;
  align-items: center;
  margin-left:29px ;
  font-size: 22px;
  font-weight: 600;
  height: 80px;
  transition: all 0.15s ease-out;
  border: 1px solid #00000000;
}

.market-buttons {
  display: grid;
  place-content: center;
  margin-top: 10px;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  border: 1px solid #ffffff18;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 4px;
  margin:-10px 0 ;
  width: fit-content;
}

.tab {
  padding: 8.5px 12px;
  border: none;
  background: transparent;
  color: #c5c4c4;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #00000000;
}

.tab.active {
  background: rgba(255, 255, 255, 0.10);
  border: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  color: #ffffff;
}

.market-list {
  padding: 10px;
  overflow: hidden;
  max-height:210px;
  display: grid;
  place-content:center;
}

.list-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1.3fr 0.1fr 3.1fr 1fr;
  margin-top: 10px;
  height: 55px;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.1),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0 35px;
}
.list-item:nth-child(1){
  animation: fadeIn 0.15s ease-in-out;
}
.list-item:nth-child(2){
  animation: fadeIn 0.25s ease-in-out;
}
.list-item:nth-child(3){
  animation: fadeIn 0.45s ease-in-out;
}

.list-item:nth-child(n+4) {
  display: none;
}

.item-photo {
  display: grid;
  place-content: center;
}
.item-photo img {
  width: 45px;
  border-radius: 50%;
}

.item-name {
  display: grid;
  color: #75797c;
  font-size: 16px;
  font-weight: 700;
}
.topusers-name {
  color: rgb(161, 161, 161);
}

.item-price {
  display: grid;
  align-self: center;
  justify-content: end;
  font-size: 17px;
  font-weight: 650;
  margin-right: 6px;
}
.item-count {
  display: grid;
  place-content: center;
  font-size: 14px;
  font-weight: 700;
}

.button-join-small {
  background: #75797c15;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.button-join-small:hover {
  background-color: #181818;
}

.transaction-list li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-content: center;
}

  @media (max-width:1400px) {
    .block{
      width: 400px;
    }

    .home-content {
      gap: 40px;
    }
  }

  @media (max-width:1150px) {
    .block{
      width: 380px;
    }

    .home-content {
      gap: 30px;
    }
    .tab {
      padding: 11px 19px;
      font-size: 14px;
    }
  }

  @media (max-width: 1100px) {
  
    .header-title {
      font-size: 22px;
    }
    
    .header-input {
      width: 100%;
      max-width: 400px;
    }
    
    .tabs {
      border-radius: 30px;
      padding: px;
      width: fit-content;
      margin:-10px 0 ;
    }
    
    .tab {
      padding: 7px 4px;
      font-size: 14px;
      user-select: none;
      -webkit-user-select: none;
    }
    
    .block {
      width: 360px;
      height: 335px;
      overflow: hidden;
    }
    
    .market-list {
      padding: 10px;
      overflow: hidden;
      max-height:220px;
      display: block;
    }
    
    .item-photo img{
      width: 35px;
    }
    .item-name {
      font-size: 12px;
    }
    .item-price {
      font-size: 17px;
    }
    .item-count {
      font-size: 13px;
      color: #dd9e15;
    }
  }
  
  @media (max-width: 1010px) {
    .home-content {
      gap: 15px;
    }
    .block {
      width: 310px;
    }
    .list-item {
      height: 52px;
      padding: 0 10px;
    }
  }

  @media (max-width: 860px) {
    .home-content {
      gap: 12px;
    }
    .block {
      width: 280px;
    }
    .tab {
      padding: 8px 4px;
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
  .home-content {
      gap: 10px;
      grid-template-columns: 1fr;
      height: auto;
  }

  .header-title {
    font-size: 20px;
  }
  
  .header-input {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
  }
  
  .header-input input {
    font-size: 16px;
    padding: 0 8px;
  }

  .input-icon {
    font-size: 18px;
  }

  .block {
    width: 90%;
    border-radius: 16px;
    margin-bottom: 20px;
  }

  .block-title {
    margin-left: 20px;
    font-size: 18px;
  }

  .tabs {
    padding: 3px;
    gap: 2px;
  }

  .tab {
    padding: 9px 9px;
    font-size: 14px;
  }

  .list-item {
    grid-template-columns: 1fr 0.1fr 1.5fr 1fr;
    height: 50px;
    font-size: 14px;
  }

  .item-photo img {
    width: 32px;
  }

  .item-price {
    font-size: 16px;
    font-weight: 600;
  }
  
  .item-name, .item-count {
    font-size: 12px;
  }
  .market-list {
    max-height: 200px;
  }
}

@media (max-width:480px) {
  .block {
    width: 100%;
    margin: 7px 0;
  }
  .block:first-child{
    margin-top: -35px;
    height: 300px;
  }
  .market-buttons {
    margin-top: 0px;
  }
  .market-list {
    margin-top: -5px;
    margin-bottom: -30px;
    max-height: 200px;
  }

  .list-item {
    grid-template-columns: 1.3fr 0.1fr fr 1fr;
  }

  .transaction-list{
    margin: -20px 0;
  }

  .block:nth-child(2){
    height:300px ;
  }

  .block:nth-child(3),
  .block:nth-child(4) {
    height: 280px;
  }

  .topusers-list {
    margin-top: -50px;
  }
  .block-title-topusers {
    margin-bottom: -20px;
  }
}
