/* ===== USER SETTINGS ===== */

.settings-content {
  backdrop-filter: blur(10px);
  border-radius: 13px;
  padding: 15px 10px;
  min-height: 500px;
  color: #e0e0e0;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  animation: fadeIns 0.15s ease-in-out;
}

.settings-section {
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 26px 30px;
  margin-bottom: 26px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
}

.settings-section-title {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 22px;
}

/* ===== ROW ===== */

.settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 16px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.settings-item:last-child {
  border-bottom: none;
}

.settings-item-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.settings-item-label {
  font-size: 16px;
  color: #ffffff;
}

.settings-item-desc {
  font-size: 13.5px;
  color: #9a9a9a;
}

/* ===== SWITCH ===== */

.settings-switch {
  width: 52px;
  height: 28px;
  background-color: #141318;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: background 0.2s ease;
}

.settings-switch::after {
  content: "";
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 3px;
  transition: transform 0.2s ease;
}

.settings-switch.active {
  background-color: rgb(4, 90, 143);
}

.settings-switch.active::after {
  transform: translateX(24px);
}

/* ===== SELECT ===== */

.select {
  width: 120px;
  height: 40px;
}

.select .ant-select-selector {
  background: rgba(255, 255, 255, 0.10);
  border: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  color: #e0e0e0;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.select .ant-select-arrow {
  color: #fff !important;
  opacity: 0.7;
}

/* ===== BUTTONS ===== */

.settings-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 30px;
}

.settings-restore {
  margin-top: -10px;
  background-color: #f8363a; 
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 12px 28px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s !important;
  border: 1px solid #00000000;
  width: 250px;
}

.settings-restore:hover {
  background-color: #2a1215; 
  color: white;
  border: 1px solid #ff4d4f;
}

.settings-save {
  margin-top: -10px;
  background-color: rgb(4, 90, 143);
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 12px 28px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s !important;
  border: 1px solid #00000000;
  width: 250px;
}

.settings-save:hover {
  background-color: #07101d;
  color: white;
  border:1px solid #2d81ff;
}


/* ===== ADAPTIVE ===== */

@media (max-width: 768px) {
  .select{
    width: 134px;
  }
  .settings-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .settings-footer {
    flex-direction: column;
  }

  .settings-save,
  .settings-cancel {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .select{
    width: 134px;
  }
  .settings-section {
    padding: 20px;
  }

  .settings-section-title {
    font-size: 16px;
  }

  .settings-item-label {
    font-size: 14px;
  }

  .settings-item-desc {
    font-size: 12px;
  }
  .settings-footer {
    gap: 10px;
    flex-direction: row;
  }
}
