.topusers-content {
  border-radius: 10px;
  padding: 30px;
  min-height: 500px;
  max-height: 845px; 
  overflow-y: scroll;
  color: #e0e0e0;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 
  0 8px 32px rgba(0, 0, 0, 0.1),
  inset 0 1px 0 rgba(255, 255, 255, 0.3),
  inset 0 -1px 0 rgba(255, 255, 255, 0.1),
  inset 0 0 0px 0px rgba(255, 255, 255, 0);
  animation: fadeIns 0.15s ease-in-out;
  margin-bottom: 10px;
}
.topusers-container {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  color: #ffffff;
}

.user-avatar-placeholder {
  background-color: #c0c0c0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.topusers-table {
  width: 100%;
  min-height: 30vh;
}

.topusers-table table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.topusers-table th,
.topusers-table td {
  cursor: pointer;
  padding:18px 10px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  max-width: 200px;
}

.topusers-table th {
  font-size: 14px !important;
}
.topusers-table tr {
  border-bottom: 1px solid rgba(255,255,255,0.04);
  transition: border 0.15s ease-out;
  font-size: 17px;
  font-weight: 100;
}
.topusers-table tr:nth-child(-n+3) {
  border-bottom: none;
}

.topusers-table th:nth-child(-n+3),
.topusers-table td:nth-child(-n+3) {
  border-bottom: none;
}

.gold-text {
  color: #eec232;
  font-weight: 700;
}

.silver-text {
  color: #cfcfcf;
  font-weight: 700;
}

.bronze-text {
  color: #fa9835;
  font-weight: 700;
}

.topusers-table tbody tr{
  border-left:1px solid #14131800;
  border-right:1px solid #14131800;
}
.topusers-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.082) !important;
  border-left: 1px solid #ffffffbd;
  border-right: 1px solid #ffffffbd;
}

.topusers-table tbody tr:nth-child(1) {
  background: linear-gradient(90deg, rgba(212, 175, 55, 0.753), transparent);
  border-left: 4px solid #d4af37;
  transition: all 0.1s ease-in;
}
.topusers-table tbody tr:nth-child(1):hover {
  box-shadow: 0 4px 4px #d4af37;
}

.topusers-table tbody tr:nth-child(2) {
  background: linear-gradient(90deg, rgba(192, 192, 192, 0.712), transparent);
  border-left: 4px solid #c0c0c0;
  transition: all 0.1s ease-in;
}
.topusers-table tbody tr:nth-child(2):hover {
  box-shadow: 0 4px 4px #c0c0c0;
}

.topusers-table tbody tr:nth-child(3) {
  background: linear-gradient(90deg, rgba(205, 128, 50, 0.678), transparent);
  border-left: 4px solid #cd7f32;
  transition: all 0.1s ease-in;
}
.topusers-table tbody tr:nth-child(3):hover {
  box-shadow: 0 4px 4px #cd7f32;
}

.topusers-table tbody tr:nth-child(-n+3) td {
  font-weight: 600;
}




.topusers-list {
  display: grid;
  place-content: center;
  margin: 0 20px;
  margin-top: 10px;
}
.topusers-item{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr !important;
  margin-top: 10px;
  text-align: start;
}

.topusers-item:nth-child(1) {
  background: linear-gradient(90deg, rgba(212, 175, 55, 0.486), transparent);
  border-left: 3px solid #d4af37;
  transition: all 0.1s ease-in;
}
.topusers-item:nth-child(2) {
  background: linear-gradient(90deg, rgba(192, 192, 192, 0.486), transparent);
  border-left: 3px solid #c0c0c0;
  transition: all 0.1s ease-in;
}
.topusers-item:nth-child(3) {
  background: linear-gradient(90deg, rgba(205, 128, 50, 0.486), transparent);
  border-left: 3px solid #cd7f32;
  transition: all 0.1s ease-in;
}

.topusers-item:nth-child(-n+3) td {
  font-weight: 600;
}

.topusers-name {
  display: grid;
  justify-content: start;
  text-align: start !important;
  margin-right:70px ;
  text-align: start !important;
}




.topusers-table th {
  color: #aaa;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.topusers-table td {
  vertical-align: middle;
}

.topusers-username {
  display: flex;
  align-items: center;
  gap: 14px;
  min-width: 250px;
}


.error-message,
.empty-message {
  text-align: center;
  padding: 40px 0;
  color: #aaa;
  font-size: 16px;
}

/* Адаптивность */
@media (max-width:1400px) {
  .topusers-table th {
    font-size: 13px !important;
  }
  .topusers-table tr {
    border-bottom: 1px solid rgba(255,255,255,0.04);
    transition: border 0.15s ease-out;
    font-size: 15px;
  }  
  .user-avatar-placeholder {
    background-color: #c0c0c0;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  .topusers-list {
    margin: 15px 15px;
  }
  .topusers-item {
    margin: 5px;
    display: flex !important;
  }
}
@media (max-width:1279px) {
  .topusers-content {
    max-height: 860px;
  }
}
@media (max-width:1023px) {
  .topusers-content {
    max-height: 850px !important;
  }
}
@media (max-width: 900px) {
  .topusers-item {
    margin: 4px 10px !important;
    padding:0 18px;
    grid-template-columns: 1fr 4.8fr 1fr !important;
    height: 60px !important;
  }
}
@media (max-width: 768px) {
  .topusers-content {
    padding: 20px;
    min-height: 400px;
    max-height: 3505px !important;
    overflow: hidden;
  }

  .topusers-table table {
    font-size: 14px;
    min-width: 500px;
  }

  .topusers-table th,
  .topusers-table td {
    padding: 12px;
  }
  .topusers-table th {
    font-size: 13px !important;
  }  
  .user-avatar-placeholder {
    width: 40px;
    height: 40px;
  }
  .topusers-item {
    margin: 4px 20px !important;
    padding:0 18px;
    grid-template-columns: 1fr 4.8fr 1fr !important;
    height: 60px !important;
  }
}

@media (max-width: 480px) {
  .topusers-content {
    padding: 16px;
    min-height: 360px;
  }

  .topusers-table table {
    font-size: 13px;
    min-width: 250px;
  }

  .topusers-table th,
  .topusers-table td {
    padding: 9px;
  }

  .topusers-table th:nth-child(1),
  .topusers-table td:nth-child(1) {
    font-size: 16px;
  }

  .topusers-table tbody tr:nth-child(1) {
    background: linear-gradient(90deg, rgba(212, 175, 55, 0.671), transparent);
  } 
  .topusers-table tbody tr:nth-child(2) {
    background: linear-gradient(90deg, rgba(192, 192, 192, 0.74), transparent);
  } 
  .topusers-table tbody tr:nth-child(3) {
    background: linear-gradient(90deg, rgba(205, 128, 50, 0.671), transparent);
  } 

  .user-avatar-placeholder {
    width: 40px;
    height: 40px;
  }
  .topusers-item {
    display: flex;
    margin: 4px 15px !important;
    padding:0 15px !important;
    margin: 4px 5px !important;
    height: 50px !important;
  }
  .topusers-username {
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 180px;
  }
  .topusers-item-photo {
    min-width: 45px;
  }
  .topusers-item .item-name {
    margin-left: 8px;
    flex: 1;
    text-align: start;
  }
}

@media (min-width: 1000px) and (max-height:1000px) {
  .topusers-content {
    height: 81vh;
  }
}
@media (min-width: 1000px) and (max-height:791px) {
  .topusers-content {
    height: 79.7vh;
  }
}