
.filters {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin: 20px 350px;
}

.filter-btn {
  background: rgba(255, 255, 255, 0.10);
  border: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  color: #e0e0e0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 10px 16px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  flex: 1 1 100%;
}
.filter-btn:hover {
  background: rgba(255, 255, 255, 0.15);
}

.filter-btn-active {
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  color: white;
  border:1px solid #2d81ff;
  border-radius: 12px;
  padding: 0px 16px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Статусы транзакций */
.status-success {
  color: #52c41a;
  background: rgba(82, 196, 26, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
}

.transactions {
  padding: 8px;
}

.transactions th,
.transactions td {
  padding: 23px 13px;
  max-width: 120px;
  white-space: nowrap
}
.transactions th {
  font-size: 14px !important
}
.transactions td {
  font-size: 17px !important;
}  
.transactions tr {
  font-size: 17px !important;
}  
.transactions-img {
  width: 45px !important;
  height: 45px !important;
  font-size: 14px;
}

.transactions th:first-child,
.transactions td:first-child {
  padding: 5px 5px;
}
.transactions th:nth-child(2),
.transactions td:nth-child(2) {
  max-width:60px !important;
  padding: 15px 20px;
}
.transactions th:nth-child(2) {
  text-align: center;
}
.transactions th:nth-child(3),
.transactions td:nth-child(3) {
  padding: 5px 5px;
}
.transactions th:nth-child(4),
.transactions td:nth-child(4),
.transactions th:nth-child(5),
.transactions td:nth-child(5){
  padding: 0 10px;
  overflow: hidden
}


.transactions-username {
  font-size: 17px;
  font-weight: 600;
}
.transactions-img{
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  margin: 0 auto;
}
.transactions-imgSymbol{
  padding: 0 !important;
}
.transactions-symbol {
  display: grid;
  place-content: center;
  margin-bottom: -10px !important;
  font-size: 13px;
  text-align: start;
  color: #bbb9b9;

}
.transactions-buyPrice {
  font-weight: bold;
}
.transactions-amount {
  font-size: 14px;
  color: #bbb9b9;
}

/* ===== Адаптивность для транзакций ===== */
@media (max-width:1850px) {
  .filters {
    margin: 20px 300px;
  }
}
@media (max-width:1700px) {
  .transactions th:nth-child(2),
  .transactions td:nth-child(2) {
    max-width:55px;
    padding: 15px 25px;
  }
}
@media (max-width:1600px) {
  .transactions th:nth-child(2),
  .transactions td:nth-child(2) {
    max-width:75px;
    padding: 15px 25px;
  }
}
@media (max-width:1550px) {
  .filters {
    margin: 20px 150px;
  }
  .transactions th:nth-child(2),
  .transactions td:nth-child(2) {
    max-width:105px;
    padding: 15px 25px;
  }
}
@media (max-width:1400px) {
  .transactions th {
    font-size: 13px !important;
    padding: 10px 5px !important;
  }
  .transactions tr {
    font-size: 15px;
  }
  .transactions-img {
    width: 40px !important;
    height: 40px !important;
    font-size: 14px;
  }
  .status-success {
    padding: 4px 10px;
    font-size: 13px;
  }
  .filter-btn-active {
    font-size: 13px;
  }
}
@media (max-width: 1279px) {
  .filters {
    gap: 30px;
    margin: 20px 100px;
  }
  .filter-btn {
    padding: 8px 14px;
    font-size: 14px;
  }
  .transactions-img {
    width: 35px !important;
    height: 35px !important;
  }
  .transactions-data {
    min-width: 150px !important;
  }
}

@media (max-width: 1023px) {
  .filters {
    gap: 10px;
    margin: 20px 40px;
  }

  .filter-btn {
    padding: 8px 12px;
    font-size: 13px;
  }
  .transactions th:first-child,
  .transactions td:first-child {
    padding: 15px 4px !important;
  }
  .transactions th:nth-child(2),
  .transactions td:nth-child(2) {
    padding: 15px 0px !important;
    min-width: 70px;
  }
  .transactions th:nth-child(3),
  .transactions td:nth-child(3) {
    padding: 0 15px !important;
    min-width:180px !important;
  }
  .transactions th:nth-child(6),
  .transactions td:nth-child(6) {
    min-width:135px;
    padding: 15px 25px;
  }
}

@media (max-width: 767px) {
  .header-actions {
    flex-direction: column;
    align-items: stretch;
    gap: 25px;
  }

  .filters {
    margin: 20px 60px;
  }

  .filter-btn {
    width: 100%;
    text-align: center;
  }

  .market-table table {
    min-width: 650px;
  }

  .transactions th:nth-child(3),
  .transactions td:nth-child(3) {
    min-width: 180px;
  }

}

@media (max-width: 480px) {
  .filters{
    margin: 20px 10px;
  }
  .filter-btn {
    font-size: 13px;
    padding: 8px;
  }

  .market-table table {
    min-width: 600px;
  }

  .transactions th,
  .transactions td {
    padding: 10px 12px;
  }
  .transactions th:nth-child(2),
  .transactions td:nth-child(2) {
    padding: 0 5px !important;
  }
  .transactions th:nth-child(3),
  .transactions td:nth-child(3) {
    padding: 0 10px !important;
    min-width: 160px;
  }
  .transactions th:nth-child(4),
  .transactions td:nth-child(4) {
    padding: 0 10px !important;
  }
  .transactions th {
    font-size: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.027);
  }
}