/* ====== ОСНОВНАЯ СЕТКА ====== */
.user-content {
  position: relative;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
}

/* ====== ШАПКА ПРОФИЛЯ ====== */
.user-header {
  height: 170px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-content: center;
  padding: 0;
  margin: 40px 0 0 0;
  gap: 20px;
}

.user-info-avatar-cont {
  display: grid;
  place-content: center;
  cursor: pointer;
}

.user-info-avatar {
  background-image: url(/src/assets/Gonox.png);
  width: 110px;
  height: 110px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

.user-info-avatar-cont img:hover {
  background-size: 50% auto;
}

.user-info {
  text-align: center;
  display: grid;
  place-content: center;
  gap: 10px;
}

.user-info-name {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  color: #fff;
}

.user-info-email {
  font-weight: 350;
  color: #c5c4c4;
}

/* ====== СТАТИСТИКА ====== */
.user-stats {
  margin: 20px 0;
}

.stat-block {
  margin: 20px 0;
}

/* ====== КНОПКА ВОЗВРАТА ====== */
.return-btn {
  top: 10px;
  left: 10px;
  z-index: 1000;
}

/* ====== ПОРТФОЛИО ====== */
.user-portfolio {
  background: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.144);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  padding: 25px 30px;
  animation: fadeIn 0.3s ease-in-out;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 30px;
}

.portfolio-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

.stat-block-balance {
  margin-bottom: 10px !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.balance {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0px 10px;
}

.balance-user {
  border-right: 1px solid #47434369;
}

.stat-value-data {
  text-align: center;
}

.stat-block {
  display: grid;
  place-content: center;
}

.crypto-list {
  display: grid;
  gap: 7px;
  overflow-y: auto;
  max-height: 300px;
  padding-right: 5px;
}

.crypto-item {
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr 1fr;
  border-radius: 12px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out !important;
}

.crypto-item:hover {
  background: rgba(255, 255, 255, 0.15);
}

.crypto-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.crypto-left img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.crypto-name {
  color: #c5c4c4;
  font-size: 16px;
  font-weight: 600;
}

.crypto-right {
  text-align: right;
  min-width: 100px;
}

.crypto-amount {
  color: #dd9e15;
  font-size: 14px;
  font-weight: 600;
}

.crypto-value {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.empty-portfolio {
  text-align: center;
  color: #999;
  font-size: 15px;
  padding: 15px 0;
}

/* ====== ГРАФИК ====== */
.user-chart {
  width: 100%;
  background: none;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2),
              inset 0 0 0 1px rgba(255, 255, 255, 0.03);
  padding: 25px 30px;
  margin-bottom: 20px;
}

.chart-placeholder {
  background-color: rgba(0, 0, 0, 0) !important;
  height: 250px;
  display: grid;
  place-content: center;
  color: #999;
  font-size: 15px;
}

/* ====== МОДАЛКА ======= */

.photomodal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  height: 110%;
  transition: all 0.2s ease-in-out;
}
.photo-modal-overlay.closing{
  background-color: rgba(0, 0, 0, 0);
}

.photomodal {
  position: relative;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.253);
  padding: 25px;
  border-radius: 20px;
  display: grid;
  place-content: center;
  width: 450px;
  height: 450px;
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 145px; 
  padding: 50px;
}
.photomodal.closing {
  opacity: 0;
  transform: scale(0.9) translateX(-60px) translateY(-20px);
}

.close-photomodal {
  position: fixed;
  top: 20px;
  right: 20px;
  display: grid;
  place-content: center;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.137);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  padding: 15px;
  height: 50px;
}
.close-photomodal:hover {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.253);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
}


/* ====== АДАПТИВ ====== */

/* --- 1200px --- */
@media (max-width: 1200px) {
  .user-header {
    grid-template-columns: 1fr 1.5fr;
  }

  .user-info-name {
    font-size: 26px;
  }
  .photomodal.closing {
    opacity: 0;
    transform: scale(0.9) translateX(-20px) translateY(-20px);
  }
}

/* --- 992px --- */
@media (max-width: 992px) {
  .user-header {
    padding:10px 0;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .user-info-avatar {
    width: 95px;
    height: 95px;
  }

  .user-info-name {
    font-size: 20px;
  }

  .portfolio-title {
    font-size: 20px;
  }
}

/* --- 768px --- */
@media (max-width: 768px) {
  .user-header {
    grid-template-columns: 1fr;
    text-align: center;
    height: auto;
    margin-top: 50px;
  }

  .user-info-avatar {
    width: 90px;
    height: 90px;
  }

  .user-info-name {
    font-size: 20px;
  }

  .user-portfolio,
  .user-chart {
    padding: 20px;
  }
  .crypto-name {
    font-size: 14px;
  }

  .crypto-value {
    font-size: 14px;
  }

  .crypto-amount {
    font-size: 13px;
  }

  .crypto-left img {
    width: 43px;
    height: 43px;
  }
  .photomodal {
    width: 330px;
    height: 330px;
  }
  .photomodal.closing {
    transform: scale(0.9) translateX(0px) translateY(-20px);
  }
  .close-photomodal {
    position: fixed;
    top: 15px;
    right: 15px;
    display: grid;
    place-content: center;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.137);
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    padding: 13px;
    height: 45px;
  }
}

/* --- 576px --- */
@media (max-width: 576px) {
  .user-info-name {
    font-size: 20px;
  }

  .user-info-email {
    font-size: 14px;
  }

  .user-portfolio,
  .user-chart {
    padding: 15px;
  }
  
  .crypto-item {
    padding: 8px 12px;
  }

  .crypto-name {
    font-size: 13px;
  }

  .crypto-value {
    font-size: 13px;
  }

  .portfolio-title {
    font-size: 18px;
  }
}

/* --- 400px --- */
@media (max-width: 400px) {
  .user-info-avatar {
    width: 80px;
    height: 80px;
  }

  .user-info-name {
    font-size: 18px;
  }

  .user-portfolio {
    margin-top: -10px;
    margin-bottom: 30px;
  }

  .crypto-item {
    grid-template-columns: 4fr 4fr 1fr;
  }
  .crypto-left img {
    width: 40px;
    height: 40px;
  }

  .crypto-right {
    text-align: right;
  }
  .stat-label {
    display: grid;
    place-content: center;
  }
  .balance {
    margin:-5px 0;
  }
}