body,html{
  background-color: #0e0d12;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color:rgb(236, 236, 236) ;
}

a{
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"] {

  background-color: #ffffff;
  border: 1px solid #ccc;

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus {
  border-color: #007bff00;
  box-shadow: 0 1px 6px rgba(0, 123, 255, 0);
}

input:disabled {
  background-color: #f5f5f5;
  color: #999;
  cursor: not-allowed;
  border-color: #ddd;
}






/* ===== Скроллбар для WebKit (Chrome, Safari, Edge) ===== */
*::-webkit-scrollbar {
  width: 8px;    /* для вертикального */
  height: 8px;   /* для горизонтального */
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  margin: 4px 0; /* отступы сверху и снизу */
}

*::-webkit-scrollbar-thumb {
  background: #444; /* основной цвет ползунка */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background: #666; /* при наведении */
}

/* Опционально: активное состояние */
*::-webkit-scrollbar-thumb:active {
  background: #888;
}

/* ===== Скроллбар для Firefox ===== */
* {
  scrollbar-width: thin;         /* thin | auto | none */
  scrollbar-color: #444 transparent; /* thumb color | track color */
}

/* При наведении на элемент со скроллом — подсветка скроллбара (Firefox) */
*:hover {
  scrollbar-color: #666 transparent;
}